<launch>
    <!-- MAP server -->
    <arg name="map_file" default="$(find Robot_2D_navigation)/maps/map1.yaml"/>
    <node pkg="map_server" type="map_server" name="map_server" output="screen" 
        args="$(arg map_file)">
    </node>

    <!--- AMCL -->
    <include file="$(find Robot_2D_navigation)/launch/amcl.launch"/>

    <!--- move_base -->
    <node pkg = "move_base" type = "move_base" respawn = "false" name = "move_base" output = "screen">
        <param name="base_local_planner" value="base_local_planner_params/TrajectoryPlannerROS" />
        <rosparam file="$(find Robot_2D_navigation)/config/costmap_common_params.yaml" command = "load" ns = "global_costmap" />
        <rosparam file="$(find Robot_2D_navigation)/config/costmap_common_params.yaml" command = "load" ns = "local_costmap" />
        <rosparam file="$(find Robot_2D_navigation)/config/local_costmap_params.yaml" command = "load" />
        <rosparam file="$(find Robot_2D_navigation)/config/global_costmap_params.yaml" command = "load" />
        <rosparam file="$(find Robot_2D_navigation)/config/base_local_planner_params.yaml" command = "load" />
    </node>

    <node pkg="Robot_Odometry" type="Odometry_publisher" name="Odometry_publisher" output="screen" />
    <node pkg="Robot_navigation_goal" type="navigation_goal" name="navigation_goal" output="screen" />
    <node pkg="Robot_laser_scan" type="laser_scan_publisher" name="laser_scan_publisher" output="screen" />
    <param name="use_sim_time" value="true" />
    <node pkg="rosbag" type="play" name="player" output="screen" args="--clock $(find Robot_2D_navigation)/bag/laserScan.bag"/>

</launch> 