<launch>

    <include file="$(find Robot_2D_navigation)/launch/amcl.launch" />
    <node pkg="map_server" type="map_server" name="map_server" output="screen" args="$(find Robot_2D_navigation)/maps/map1.yaml"/>
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find Robot_2D_navigation)/rviz/roomba.rviz" />

</launch>